<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/animals" method="PUT">
          <fieldset>
            <legend>Edit the species</legend>
            <label>
              species:<input
                type="text"
                name="name"
                value="<%= animal.species %>"
                placeholder="enter species name"
              />
            </label>

            <label>
              extinct:<input
                type="checkbox"
                name="extinct"
                value="<%= animal.extinct %>"
              />
            </label>

            <label>
              location:<input
                type="text"
                name="name"
                value="<%= animal.location %>"
                placeholder="enter species location"
              />
            </label>
            <label>
              lifeExpectancy:<input
                type="number"
                name="name"
                value="<%= animal.lifeExpectancy %>"
                placeholder="enter species life expectancy"
              />
            </label>
          </fieldset>
          <input type="submit" value="create new fruit" />
        </form>
      </div>
    </main>
  </body>
</html>
